main{
  display:flex;

}
#left-main{
    width:30%;
    text-align: center;
    height: 100%;
    float:left;
    color:red;
    
    margin: 20px 0px 0px 0px;
}
#right-main{
    width:70%;
    height:100%;
    text-align: center;
    float:left;
 
}

#right-main figcaption{
    color: red;
}

#right-right, #right-center, #right-left{
    width:30%;
    float:left;

}

#bottom-p{
    width:90%;
}
hr {
    width:90%;
}


